@using System.IO;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject ISerialCommsManager SerialCommsManager
@inject IJSRuntime JSRuntime
@page "/Profile1"

<h3>Profiles</h3>

<h3>
    Key Configuration - <select @onchange="LoadProfile">
        @foreach (var profile in profileNames)
        {
            <option value="@profile">@profile</option>
        }
    </select>
</h3>



<main class="layoutcontainer">

    <section class="top-config">
        <section class="m1-sL-m4-m5">   <!--section for Left Mouse Buttons (M1,M3, ScWheel Left)-->
            <p>Left Mouse Button&nbsp;<input type="text" placeholder="M1" @onchange="@(e => UpdateKeybind("LEFT_CLICK", e))" value="@keybinds["LEFT_CLICK"]"></p>
            <div class="midalign"><p>Left Side Panel</p><span></span></div>
            <div class="sideButtonGrid">
                <p>&nbsp;M4&nbsp;&nbsp;<input type="text" placeholder="M4" @onchange="@(e => UpdateKeybind("MOUSE_4", e))" value="@keybinds["MOUSE_4"]" /></p>
                <p>&nbsp;M5&nbsp;&nbsp;<input type="text" placeholder="M5" @onchange="@(e => UpdateKeybind("MOUSE_5", e))" value="@keybinds["MOUSE_5"]" /></p>
                <p>&nbsp;M6&nbsp;&nbsp;<input type="text" placeholder="M6" @onchange="@(e => UpdateKeybind("MOUSE_6", e))" value="@keybinds["MOUSE_6"]" /></p>
                <p>&nbsp;M7&nbsp;&nbsp;<input type="text" placeholder="M7" @onchange="@(e => UpdateKeybind("MOUSE_7", e))" value="@keybinds["MOUSE_7"]" /></p>
                <p>&nbsp;M8&nbsp;&nbsp;<input type="text" placeholder="M8" @onchange="@(e => UpdateKeybind("MOUSE_8", e))" value="@keybinds["MOUSE_8"]" /></p>
                <p>&nbsp;M9&nbsp;&nbsp;<input type="text" placeholder="M9" @onchange="@(e => UpdateKeybind("MOUSE_9", e))" value="@keybinds["MOUSE_9"]" /></p>
                <p>M10&nbsp;<input type="text" placeholder="M10" @onchange="@(e => UpdateKeybind("MOUSE_10", e))" value="@keybinds["MOUSE_10"]" /></p>
                <p>M11&nbsp;<input type="text" placeholder="M11" @onchange="@(e => UpdateKeybind("MOUSE_11", e))" value="@keybinds["MOUSE_11"]" /></p>
                <p>M12&nbsp;<input type="text" placeholder="M12" @onchange="@(e => UpdateKeybind("MOUSE_12", e))" value="@keybinds["MOUSE_12"]" /></p>
            </div>


        </section>
        <section class="mPic-dbnce">    <!--image of mouse, debounce delay textbox-->
            <p>M3&nbsp;<input type="text" placeholder="M3" @onchange="@(e => UpdateKeybind("MIDDLE_CLICK", e))" value="@keybinds["MIDDLE_CLICK"]" /></p>
            <img height="75%" src="data:image/jpeg;base64,@b64Mouse" />
            <p>Debounce Delay&nbsp;<input type="text" placeholder="50ms" @bind="msDebounce"/></p>
        </section>
        <section class="m2-sR-m3">      <!--section for Right Mouse Buttons (M2, M3, ScWheel Right)-->
            <p>Right Mouse Button&nbsp;<input type="text" placeholder="M2" @onchange="@(e => UpdateKeybind("RIGHT_CLICK", e))" value="@keybinds["RIGHT_CLICK"]" /></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </section>
    </section>
    <section class="bot-config">
        <aside class="mod-detect">      <!--module detection-->
            <button @onclick="SaveProfileAsync">Save Profile</button>
            <button @onclick="SendProfileToMouse">Send to Mouse</button>
        </aside>
        <section class="dpi-scale">     <!--DPI Slider-->
            <aside>Set DPI: @DPI&nbsp;</aside>
            <section class="dpiSet">
                <p>Preset 1 <input type="text" placeholder="400" @bind=DPI_SET[0]/></p>
                <p>Preset 2 <input type="text" placeholder="800" @bind=DPI_SET[1] /></p>
                <p>Preset 3 <input type="text" placeholder="1200" @bind=DPI_SET[2] /></p>
                <p>Preset 4 <input type="text" placeholder="1600" @bind=DPI_SET[3] /></p>
                <p>Preset 5 <input type="text" placeholder="2000" @bind=DPI_SET[4] /></p>
            </section>
        </section>
    </section>
    
</main>

@code {

    private string ProfileName = "";
    private int DPI = 0;
    public string[] DPI_SET = new string[5];
    private int msDebounce = 0;
    private Dictionary<string, JToken> keybinds;


    private List<string> keys = new List<string> { "LEFT_CLICK", "RIGHT_CLICK", "MIDDLE_CLICK", "MOUSE_4", "MOUSE_5", "MOUSE_6", "MOUSE_7", "MOUSE_8", "MOUSE_9", "MOUSE_10", "MOUSE_11", "MOUSE_12" };

    private string selectedProfile;
    private List<string> profileNames = new();



    private string selectedProfileName;
    Profiles curProfile;
    Profiles selProfile;
    protected override async void OnInitialized()
    {
        keybinds = keys.ToDictionary(key => key, key => (JToken)null);
        var appDataPath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "Modulify", "Data\\Profiles");

        if (Directory.Exists(appDataPath))
        {
            var files = Directory.GetFiles(appDataPath, "*.json");

            profileNames = files.Select(Path.GetFileNameWithoutExtension).ToList();
        }
        selectedProfile = profileNames.First();

        // SerialCommsManager.OnMouseConnected += GetProfile;
        // try
        // {
        //     GetProfile();
        // }
        // catch(Exception ex)
        // {
        //     Console.WriteLine($"{ex.Message}");
        //}
    }
    void UpdateKeybind(string key, ChangeEventArgs e)
    {
        keybinds[key] = e.Value.ToString();
    }
    private async Task SendProfileToMouse()
    {
        await Task.Run(() => SaveProfileAsync());
        MouseInstance connectedMouse = SerialCommsManager.MouseInstance;
        //connectedMouse.CurrentProfile;

    }
    private async Task SaveProfileAsync()
    {
        // Ask for profile name
        var profileName = await JSRuntime.InvokeAsync<string>("prompt", "Please enter the profile name", "defaultprofile");

        if (string.IsNullOrEmpty(profileName))
        {
            return;
        }

        // Check if a profile with this name already exists
        var profilePath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "Modulify", "Data\\Profiles", $"{profileName}.json");

        if (File.Exists(profilePath))
        {
            // Ask for confirmation to overwrite
            bool overwrite = await JSRuntime.InvokeAsync<bool>("confirm", "A profile with this name already exists. Do you want to overwrite it?");
            if (!overwrite)
            {
                return;
            }
        }

        SaveToJSON(profileName, DPI, DPI_SET, msDebounce, keybinds); // Pass the profileName to save method.
    }

    private void SaveToJSON(string profileName, int DPI, string[] DPI_SET, int debounce, Dictionary<string, JToken> keybinds)
    {
        Profiles tempProfile = new Profiles(profileName, Convert.ToString(DPI), DPI_SET, Convert.ToString(msDebounce), keybinds);
        tempProfile.SaveToJSON();
    }

    private void LoadProfile(ChangeEventArgs e)
    {
        selectedProfileName = e.Value.ToString();
        var filePath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "Modulify", "Data\\Profiles", $"{selectedProfileName}.json");
        if (File.Exists(filePath))
        {
            selProfile = new Profiles(selectedProfileName);
            ProfileName = selProfile.ProfileName;
            DPI = Convert.ToInt32(selProfile.DPI);
            DPI_SET = selProfile.DPI_SET;
            msDebounce = Convert.ToInt32(selProfile.DEBOUNCE);
            keybinds = selProfile.Keybinds;
            InvokeAsync(StateHasChanged); // Update the UI with the new profile
        }
    }

    private void GetProfile()
    {
        curProfile = SerialCommsManager.MouseInstance.CurrentProfile;

        ProfileName = curProfile.ProfileName;
        DPI = Convert.ToInt32(curProfile.DPI);
        DPI_SET = curProfile.DPI_SET;
        msDebounce = Convert.ToInt32(curProfile.DEBOUNCE);
        keybinds = curProfile.Keybinds;



    }
    public void Dispose()
    {
        SerialCommsManager.OnMouseDetected -= GetProfile;
    }
    public static string GetBase64ImageString(string imagePath)
    {
        // Read the file into a byte array
        byte[] imageBytes;
        using (FileStream fileStream = new FileStream(imagePath, FileMode.Open, FileAccess.Read))
        {
            using (BinaryReader binaryReader = new BinaryReader(fileStream))
            {
                imageBytes = binaryReader.ReadBytes((int)fileStream.Length);
            }
        }

        // Convert byte array to Base64 string
        return Convert.ToBase64String(imageBytes);
    }
    static readonly string userImgLoc = Environment.GetFolderPath(Environment.SpecialFolder.UserProfile) + "\\source\\repos\\AmbiMod\\Modulify\\wwwroot\\mouseasset.png";


    string b64Mouse =  GetBase64ImageString(userImgLoc);
}
